<ion-view view-title="Account Management" ng-controller="AccountCtrl">
  <ion-content>
    <!-- not logged in -->
    <div ng-show="user == null"
      class="button button-block button-royal"
      ng-click="showLoginModal()">
      Login
    </div>
    <div ng-show="user == null"
      class="button button-block button-royal"
      ng-click="showSignupModal()">
      Sign up
    </div>

    <!-- logged in -->
    <div ng-show="user != null"
      class="button button-block button-assertive"
      ng-click="doLogout()">
      Log out
    </div>

    <div class="list">
      <!-- either way display device settings -->
      <div class="item item-divider">
        Device Settings
      </div>
      <!-- TODO: device settings -->

      <!-- if logged in show the account settings -->
      <div ng-show="user != null">
        <div class="item item-divider">Account Settings</div>
        <div class="item item-icon-right">
          Screen name: {{user.screenName}}
          <i class="icon ion-gear-a"
          ng-click="edit('screenName')"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
