<ion-view view-title="Browsing Profile" ng-controller="ProfileCtrl">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        {{user.screenName}}
      </div>
      <div class="list list-inset">
        <div class="item item-button-right">
          Ideas
          <button class="button button-positive">
            <i class="icon ion-plus-circled"></i>
          </button>
        </div>
        <span ng-repeat="idea in user.ideasD">
          <idea-hat-idea idea="idea">

          </idea-hat-idea>
        </span>
      </div>
      <div class="list list-inset">
        <div class="item item-divider">Comments</div>
      </div>
    </div>
  </ion-content>
</ion-view>
