<ion-modal-view> <!-- This code is bad but whatever -->
  <ion-header-bar class="bar bar-energized">
    <h1 class="title">Sign up</h1>
  </ion-header-bar>
    <ion-content>
        <div class="list">
        <label class="item item-input">
          <input type="email" ng-model="input.signup.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="input.signup.password" placeholder="Password">
        </label>
    </div>
    <div class="button button-block button-royal" ng-click="doSignup()">Submit</div>
    <div class="button button-block button-stable" ng-click="hideSignupModal()">Cancel</div>
    </ion-content>
</ion-modal-view>
